#root header {
  color: white;
  background-color: rgba($color: #222, $alpha: 0.80);
  width: 100%;
  margin: 0;
  height: max(60px, min(120px, 15vh));
  text-align: center;

  h1 {
    display: inline;
    font-size: max(40px, min(80px, 10vh));
    font-weight: bold;
    line-height: max(60px, min(120px, 15vh));
  }
}